node_modules

#排除图片文件
!src/public/online/*.png
!src/public/online/*.jpeg
!src/public/local/*.png
!src/public/local/*.jpeg
!src/public/minio/*.png
!src/public/minio/*.jpeg
!src/public/online/*.jpg
!src/public/local/*.jpg
!src/public/minio/*.jpg